@import "tailwindcss";

body {
    margin: 0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #0f172a;
    color: #e2e8f0;
}

.prose {
    width: 100% !important;
    overflow-x: hidden;
}

.prose code {
    background-color: rgb(28, 29, 31);
    padding: 4px;
    border-radius: 8px;
}

.prose pre {
    background-color: rgb(17, 17, 17);
    padding: 8px;
    border-radius: 8px;
    width: 100% !important;
    overflow-x: auto;
    margin: 8px 0px;
}

.prose pre code {
    background-color: transparent !important;
    padding: 0px !important;
    border-radius: 8px;
    font-weight: normal;
}

.prose h1 {
    margin-bottom: 8px;
    font-size: 1.5rem;
    font-weight: bold;
}

.prose h2 {
    margin-bottom: 6px;
    margin-top: 40px;
    font-size: 1.2rem;
    font-weight: bold;
}

.prose h3 {
    margin-bottom: 4px;
    margin-top: 30px;
    font-size: 1rem;
    font-weight: bold;
}

.prose table {
    display: block;
    overflow-x: auto !important;
    overflow-y: hidden !important;
    width: 100% !important;
}
.prose thead {
    background-color: rgb(50, 50, 50);
    border-bottom: solid rgb(63, 63, 63) 1px;
    overflow-x: scroll !important;
    width: 100% !important;
    padding: 20px !important;
}

.prose tbody {
    background-color: rgb(5, 5, 5);
    overflow-x: scroll !important;
    width: 100% !important;
}


.prose tr {
    width: 100% !important;
    overflow-x: auto !important;
    border: 1px solid rgb(63, 63, 63);
}

.prose td {
    padding: 8px 8px;
}
.prose th {
    padding: 4px 8px;
}

.prose strong {
    font-weight: normal;
}

.prose a {
    text-decoration: underline;
    color: rgb(135, 175, 236);
}

.prose a:hover {
    color: rgb(0, 102, 255)
}

.prose li {
    margin-bottom: 4px;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: normal;
}